# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

name = "product-options"
client_id = "a9a3e3d477d6021b2ac3d1d61d1444b2"
application_url = "https://shopify.dev/apps/default-app-home"
embedded = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = ""

[auth]
redirect_urls = [ "https://shopify.dev/apps/default-app-home/api/auth" ]

[webhooks]
api_version = "2023-10"

[pos]
embedded = false

[build]
dev_store_url = "rpg-demo-store.myshopify.com"
